<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.love_travel.dao.DestinationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.love_travel.entity.Destination">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="pid" property="pid" />
        <result column="destlevel" property="destlevel" />
        <result column="imgurl" property="imgurl" />
    </resultMap>

    <select id="findByName" parameterType="string" resultType="com.qfedu.love_travel.vo.VHotelTypeDest">
		select d.id,d.name,p.name pname
        from destination d
		inner join destination p
        on d.pid=p.id
        where d.name like "%"#{name}"%"
    </select>

</mapper>
