<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.love_travel.dao.HoteltypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.love_travel.entity.Hoteltype">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="pid" property="pid" />
        <result column="hoteltypelevel" property="hoteltypelevel" />
    </resultMap>

    <select id="selectAllByPName" parameterType="string" resultType="com.qfedu.love_travel.entity.Hoteltype">
        select c.id,c.name,c.pid,c.hoteltypelevel from hoteltype c
        inner join hoteltype p
        on c.pid = p.id
        where p.name=#{pname}
        and p.hoteltypelevel=1;
    </select>
</mapper>
