<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.love_travel.dao.HoteltypeDestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.love_travel.entity.HoteltypeDest">
        <id column="id" property="id" />
        <result column="hoteltypeid" property="hoteltypeid" />
        <result column="destid" property="destid" />
    </resultMap>

    <select id="selectVDestByTid" parameterType="int" resultType="com.qfedu.love_travel.vo.VHotelTypeDest">
		select d.id,d.name,p.name as 'pname' from hoteltype_dest t
        inner join destination d
        on t.destid = d.id
		inner join destination p
        on d.pid=p.id
        where t.hoteltypeid=#{hoteltypeid};
    </select>

    <select id="selectDestByTid" parameterType="int" resultType="com.qfedu.love_travel.entity.Destination">
		select d.* from hoteltype_dest t
        inner join destination d
        on t.destid = d.id
        where t.hoteltypeid=#{hoteltypeid};
    </select>
</mapper>
