<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.HoteldetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.love_travel.entity.Hoteldetail">
        <id column="id" property="id" />
        <result column="hotelid" property="hotelid" />
        <result column="hotelname" property="hotelname" />
        <result column="address" property="address" />
        <result column="rating" property="rating" />
        <result column="commentcount" property="commentcount" />
        <result column="gps" property="gps" />
        <result column="star" property="star" />
        <result column="checkinstart" property="checkinstart" />
        <result column="checkinend" property="checkinend" />
        <result column="checkout" property="checkout" />
        <result column="buildtime" property="buildtime" />
        <result column="roomcount" property="roomcount" />
    </resultMap>

</mapper>
