<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.love_travel.dao.HotelsupportingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.love_travel.entity.Hotelsupporting">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="pid" property="pid" />
    </resultMap>

    <resultMap id="supportMap" type="com.qfedu.love_travel.vo.VHotelsupporting">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <collection property="supportingList" javaType="java.util.ArrayList" ofType="com.qfedu.love_travel.entity.Hotelsupporting">
            <id column="cid" property="id" />
            <result column="cname" property="name" />
        </collection>
    </resultMap>

    <select id="selectByInfoid" parameterType="int" resultMap="supportMap">
      select p.id,p.name,c.id cid,c.name cname from hotelsupporting p
      inner join hotelsupporting c
      on c.pid=p.id
      inner join hoteldetail_supporting hs
      on hs.supportingid=c.id
      where hs.hoteldetailid=#{hoteldetailid};
    </select>
</mapper>
