<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.love_travel.mapper.TravelnoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.love_travel.entity.Travelnote">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="sketchimgurl" property="sketchimgurl" />
        <result column="userid" property="userid" />
        <result column="browsecount" property="browsecount" />
        <result column="likecount" property="likecount" />
        <result column="commentcount" property="commentcount" />
        <result column="travelnotetypeid" property="travelnotetypeid" />
    </resultMap>

</mapper>
