<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.love_travel.dao.TravelnoteinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.love_travel.entity.Travelnoteinfo">
        <id column="id" property="id" />
        <result column="travelnoteid" property="travelnoteid" />
        <result column="coverimgurl" property="coverimgurl" />
        <result column="title" property="title" />
        <result column="userid" property="userid" />
        <result column="starttime" property="starttime" />
        <result column="traveldays" property="traveldays" />
        <result column="relationshipid" property="relationshipid" />
        <result column="percost" property="percost" />
        <result column="info" property="info" />
        <result column="aboutnote1id" property="aboutnote1id" />
        <result column="aboutnote2id" property="aboutnote2id" />
        <result column="aboutnote3id" property="aboutnote3id" />
        <result column="aboutdestinationid" property="aboutdestinationid" />
        <result column="collectcount" property="collectcount" />
        <result column="sharecount" property="sharecount" />
        <result column="fontcount" property="fontcount" />
        <result column="imagecount" property="imagecount" />
        <result column="clickcount" property="clickcount" />
        <result column="createtime" property="createtime" />
    </resultMap>

</mapper>
