<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.love_travel.dao.UserMapper">

  <!-- &lt;!&ndash; 通用查询映射结果 &ndash;&gt;-->
  <!--  <resultMap id="BaseResultMap" type="com.qfedu.love_travel.entity.User">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="loginpassword" property="loginpassword" />
        <result column="email" property="email" />
        <result column="realname" property="realname" />
        <result column="flag" property="flag" />
        <result column="reamin" property="reamin" />
        <result column="regtime" property="regtime" />
        <result column="headimgurl" property="headimgurl" />
        <result column="address" property="address" />
    </resultMap>-->

    <select id="selectByPhone" parameterType="string" resultType="com.qfedu.love_travel.entity.User">
        select * from user where phone=#{phone}
    </select>

</mapper>
