@charset "utf-8";
/* CSS Document */
dl,dt,dd,form{margin:0;padding:0;}
body{background-color:#fff;}
h1,h2,h3{font-weight:normal;}
ul,li{list-style:none;}
img{border:0 none;}
.clear{clear:both;display:block;height:0;font-size:0;line-height:0;overflow:hidden;}
.clearfix:after,.list_word .item dd:after,.info_bd:after{content:'\20';clear:both;display:block;}
.clearfix,.list_word .item dd,.info_bd{*zoom:1;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mb10{margin-bottom:10px;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}

.Header{margin-bottom:15px;}
.wrapper{width:1000px;margin:15px auto 0;}
.gonglve_wrap{ padding-bottom:10px;}
.focus{height:340px;margin:10px 0 15px;}
.focus .slide{width:700px;float:right;height:340px;overflow:hidden;position:relative;}
.focus .slide ul{width:9999px;position:absolute;left:0;top:0;}
.focus .slide ul li{float:left;width:700px;height:340px;overflow:hidden;}
.focus .slide ol{position:absolute;right:30px;bottom:24px;}
.focus .slide ol li{float:left;width:20px;height:20px;margin-left:5px;background:url("http://css.mafengwo.net/images/gonglve/scroll_s.png") center 5px no-repeat;text-indent:-10000px;overflow:hidden;cursor:pointer;}
.focus .slide ol li.on{background:url("http://css.mafengwo.net/images/gonglve/scroll_b.png") 0px 0px no-repeat;}

.da980{position:relative;}
.da980 .da-flip{ width:980px; height:365px; position:absolute; top:-365px; left:0; z-index:99; display:none;}
.da980:hover .da-flip{ display:block;}

/* mdd nav s */
.mdd_nav{float:left;width:260px;}
.mdd_nav .inner{position:relative;zoom:1;z-index:10;border-top:1px #ddd solid;}
.mdd_nav dl{height:40px;border:1px solid #ddd;border-top:0 none;font-size:14px;}
.mdd_nav dl.hover{border-top:1px solid #ffc74f;margin-top:-1px;border-color:#ffc74f;}
.mdd_nav dl.hover dt{background:#fff url(http://css.mafengwo.net/images/gonglve/dt_bg.gif) no-repeat 0 -41px;width:239px;z-index:100;width:249px;margin-right:-1px;color:#FFA801;}
.mdd_nav dl.hover dd{display:block;}
.mdd_nav dt{position:relative;width:248px;height:40px;background:url(http://css.mafengwo.net/images/gonglve/dt_bg.gif) no-repeat 0 0px;color:#666;line-height:39px;cursor:pointer;font-size:14px;color:#414141;overflow:hidden;}
.mdd_nav dt strong{float:left;padding-left:15px;font-weight:normal;}
.mdd_nav dt .new{float:left;margin:7px 0 0 5px;width:22px;height:12px;background:url(http://css.mafengwo.net/images/gonglve/bn_new.gif) no-repeat;line-height:0;overflow:hidden;}

.mdd_nav dd li{height:25px;margin-right:7px;overflow:hidden;}
.mdd_nav dd.list2{width:450px;}
.mdd_nav dd a{color:#666;}
.mdd_nav dd .bk_down{display:inline-block;width:16px;height:16px;margin-right:3px;background:url(http://css.mafengwo.net/images/gonglve/book_sprites.gif) no-repeat -34px 0;vertical-align:middle;line-height:200px;overflow:hidden;}
.mdd_nav dd p a{display:inline-block;width:195px;color:#666;font-size:14px;}
.mdd_nav dd p a:hover{color:#9B5128;}
.mdd_nav dd.short p a{width:95px;}
.mdd_nav dd em{font-size:12px;font-style:normal;}
.mdd_nav dd .extra{margin-top:5px;padding:5px 0;border-top:1px dashed #dbdbdb;text-align:center;}
.mdd_nav dd .extra a{color:#E58A00;}
.mdd_nav dd {background-color: #FFFFFF;border: 1px solid #FFAA00;display: none;left: 248px;line-height: 25px;padding: 5px 15px 7px;position: absolute;top: -1px;width: 400px;z-index: 98;}
.mdd_nav dd.new_nav strong {border-right: 1px solid #CBCBCB;color: #666666;float: left;height: 16px;line-height: 16px;margin: 5px 10px 0 0;padding-right: 5px;text-align: right;width: 65px;}
.mdd_nav dd.new_nav p {float: left;line-height: 25px;width: 400px;margin-left:30px;display:inline;}
.mdd_nav dd.new_nav p a {display:inline-block;margin-right: 5px;width: auto;font-size:12px;}
.mdd_nav dd.new_nav{font-size: 12px;padding: 5px 0px 11px 0px;width: 500px;}

.zhuti_title{margin:10px 0px;}
.zhuti_title h3{float:left;font-size:16px;color:#666;line-height:16px;margin-left:30px;margin-top:2px;display:inline;_line-height:18px;}

/* 攻略专题 zhoushengxue 3013-04-09-8 */
.gonglve-nav{border:1px solid #ddd;border-bottom:0;box-shadow:0 0.5px 2px rgba(0,0,0,0.1);position:relative;z-index:10;}
.gonglve-nav .nav-title{height:40px;padding:0 15px;border-bottom:1px solid #ddd;background-color:#fff;line-height:40px;font-size:14px;color:#666;cursor:default;position:relative;z-index:2;}
.gonglve-nav .nav-title .gn-arrow{position:absolute;right:15px;top:15px;width:6px;height:10px;background:url(http://css.mafengwo.net/images/gonglve/new-gl-icon6.png) no-repeat -20px -40px;overflow:hidden;}
.gonglve-nav .hover .nav-title{margin-right:-1px;color:#ff8a00;}
.gonglve-nav .hover .nav-title .gn-arrow{background-position:-30px -40px;}

.gonglve-nav .nav-panel{position:absolute;left:258px;top:-1px;width:350px;height:338px;border:1px solid #ddd;background-color:#fff;display:none;box-shadow:0 3px 2px rgba(0,0,0,.1);}
.gonglve-nav .hover .nav-panel{display:block;}
.gonglve-nav .nav-panel a{color:#999;}
.gonglve-nav .nav-panel a:hover{color:#ffa800;}
.gonglve-nav .rank-panel ol{position:absolute;z-index:2;padding:15px 10px;width:260px;line-height:30px;}
.gonglve-nav .rank-panel li{height:30px;overflow:hidden;}
.gonglve-nav .rank-panel .rank-num{float:left;width:30px;font-size:20px;font-family:Letter Gothic Std, Verdana, Geneva, sans-serif;text-align:right;color:#aaa;font-weight:bold;}
.gonglve-nav .rank-panel .top3 .rank-num,.gonglve-nav .rank-panel .top3 strong a{color:#ffa800;}
.gonglve-nav .rank-panel strong{padding:0 15px;font-size:14px;font-weight:normal;color:#666;}
.gonglve-nav .rank-panel strong a{color:#666;}
.gonglve-nav .nav-banner{position:absolute;_top:1px;z-index:1;width:506px;height:345px; background-repeat:no-repeat; background-position:right bottom;display:none;}
.gonglve-nav .nav-banner a{display:block;width:235px;height:340px;float:right;margin-right:7px;}
.gonglve-nav .nav-banner a:focus{outline:none;}
.gonglve-nav .category-panel{width:490px;padding:10px 0;height:318px;}
.category-panel dl{margin:0 0 0 20px;padding-left:60px;border:0;font-size:12px;width:auto;height:auto;line-height:20px;}
.category-panel dt{float:left;display:inline;width:60px;height:20px;background:none;margin:5px 0 5px -60px;font-weight:bold;white-space:nowrap;overflow:hidden;line-height:20px;font-size:12px;cursor:default;color:#666;font-weight:bold;}
.gonglve-nav .category-panel dt a{color:#666;}
.category-panel dd{display:inline;position:static;border:0;width:auto;padding:0;float:left;margin:5px 15px 5px 0;height:20px;overflow:hidden;white-space:nowrap;line-height:20px;}

.input_like{border:2px #FFA800 solid;height:40px;margin-top:10px;position:relative;z-index:10;}
.input_like span{float:left;height:27px;width:29px;background:url(http://css.mafengwo.net/images/gonglve/new-gl-icon6.png) -20px -60px no-repeat;margin-top:7px;margin-left:8px;}
.input_like input{height:30px;line-height:30px;float:left;width:206px;padding:3px 0px;border:0px;font-size:12px;color:#888888;margin-left:8px;margin-top:2px;outline:none;font-family:"Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;_font-family:Tahoma,Arial,Helvetica,STHeiti;}
.search_resu{border:1px #FFA800 solid;width:518px;position:absolute;z-index:50;top:41px;left:-2px;background:#fff;padding-bottom:30px;display:none;}
.search_resu ul{padding-top:10px;}
.search_resu ul li{width:130px;float:left;height:20px;line-height:20px;margin-left:30px;margin-top:16px;display:inline;overflow:hidden;}
.search_resu ul li strong{font-size:16px;}
.search_resu ul li a{color:#FFA801;}
.search_resu ul li em{font-style:normal;font-size:14px;color:#666;cursor:pointer;}
.search_resu ul li a:hover{text-decoration:none;}

.app_d{border-bottom:1px #E3E3E3 solid;height:50px;overflow:hidden;padding-bottom:14px;margin-top:15px;}
.app_d h3{float:left;height:50px;width:50px;overflow:hidden;}
.domn_in{float:left;width:180px;margin-left:18px;display:inline;}
.domn_in h4{font-size:16px;color:#414141;line-height:18px;font-weight:normal;margin-top:5px;}
.domn_in p{margin-top:8px;}
.domn_in p a{float:left;color:#666;line-height:14px;}
.domn_in p span{float:left;color:#D8D8D8;height:12px;width:2px;line-height:14px;padding:0px 5px;overflow:hidden;}
.domn_in p a:hover{color:#FFA801;}
.gl_nav{line-height:16px;color:#666666;margin-top:35px;margin-bottom:15px;}
.gl_nav a{float:left;font-size:16px;color:#FFA801;}
.gl_nav span{float:left;font-size:18px;margin-left:12px;}
.gl_nav strong{float:left;font-size:16px;font-weight:normal;margin-left:12px;}
.gl_wrap{border-bottom:1px #E3E3E3 solid;width:980px;padding-bottom:8px;margin-top:5px;overflow:hidden;}
.gl_wrap h3{float:left;font-size:14px;color:#333;line-height:16px;margin-top:7px;}
.gl_wrap h3 a{color:#333;}
.gl_wrap h3 a:hover{color:#FFA801;}

.gl_wrap ol{float:left;width:790px;margin-left:8px;height:28px;display:inline;overflow:hidden;}
.gl_wrap ol li{float:left;height:22px;margin-left:5px;margin-top:5px;display:inline;white-space:nowrap;}
.gl_wrap ol li a{display:block;float:left;height:22px;line-height:22px;color:#666;padding:0px 8px;}
.gl_wrap ol li a:hover{color:#fff;background:#FFA800;text-decoration:none;}
.gl_wrap ol li .youth{color:#ffa800;}
.gl_wrap ol li .youth:hover{background:#FFA800;color:#fff;}
.gl_wrap ol li a.onfs{color:#fff;background:#FFA800;}


.gl_wrap span{float:left;width:42px;height:16px;margin-left:10px;margin-top:7px;}
.gl_wrap span a{display:block;width:42px;height:16px;background:url("http://css.mafengwo.net/images/gonglve/ms.png") 0px 0px no-repeat;text-indent:-10000px;overflow:hidden;}
.gl_wrap span a:hover{background:url("http://css.mafengwo.net/images/gonglve/ms.png") -43px 0px no-repeat;}
.gl_wrap span a.sp_toggle{background:url("http://css.mafengwo.net/images/gonglve/ms.png") 0px -17px no-repeat;}
.gl_wrap span a.sp_toggle:hover{background:url("http://css.mafengwo.net/images/gonglve/ms.png") -43px -17px no-repeat;}

.gl_wrap1 ol{height:auto;overflow:visible;}
.gl_wrap.sub{width:auto;padding:5px 0 8px 58px;margin-top:0;background-color:#f3f3f3;}

.p_upw{margin-top:30px;}
.uptime_p{float:left;margin-top:5px;_width:200px;}
.uptime_p a{float:left;font-size:14px;color:#666;line-height:16px;padding-bottom:4px;}
.uptime_p a:hover{color:#FFA800;border-bottom:2px #FFA800 solid;text-decoration:none;}
.uptime_p span{float:left;color:#D8D8D8;padding:0px 12px;}
.uptime_p a.upt_on{color:#FFA800;border-bottom:2px #FFA800 solid;}
.mfw_de{float:right;height:28px;padding:0px 28px;background:#F1F1F1;border-radius:30px;}
.mfw_de p{line-height:28px;color:#666;}
.mfw_de p span{color:#FFA800;}

.gl_fw{border-bottom:1px #E4E4E4 dotted;width:980px;overflow:hidden;padding-bottom:25px;margin-top:25px;}
.gl_cw{width:1020px;}
.gl_list{width:130px;float:left;margin-right:40px;}
.gl_list a{display:block;height:184px;width:130px;overflow:hidden;}
.gl_list a img{width:100%;height:100%;}
.gl_list .icon-new{position:absolute;margin:-4px 0 0 82px;width:53px;height:53px;background:url(http://css.mafengwo.net/images/gonglve/icon-new.png) no-repeat;overflow:hidden;}

.down_cout{height:24px;width:130px;background:#EBEBEB;border-radius:30px;margin-top:5px;position:relative;}
.down_cout span{display:block;position:absolute;top:0px;left:0px;height:24px;width:24px;background:url(http://css.mafengwo.net/images/gonglve/new-gl-icon6.png) -20px -90px no-repeat;}
.down_cout p{line-height:24px;color:#666;padding-left:30px;}
.paginator_video{margin-top:20px;}
.site_nav{height:30px;clear:both;overflow:hidden;margin-top: 10px;}
.site_nav .crumb{float:left;color:#666;font-size:12px;line-height:30px;}
.site_nav .crumb a{color:#B5600D;font-size:12px;}
.site_nav .crumb strong{font-weight:normal;}
.site_nav .crumb h1{display:inline;font-size:12px;font-weight:normal;}
.site_nav .weather{float:right;padding-top:5px;color:#666;}
.site_nav .weather a{font-size:12px;color:#808080;}
.mdd_img{float:left;height:325px;width:230px;margin-top:10px;overflow:hidden;}
.middle_de{width:512px;float:left;margin-left:30px;display:inline;}
.middle_de h1{font-size:28px;font-weight:normal;color:#444444;line-height:30px;margin-top:6px;}
.gl_title{margin-top:8px;}
.gl_title span{float:left;font-size:16px;color:#666;line-height:18px;white-space:nowrap;margin-right:10px;margin-top:10px;}
.jianjie{width:512px;background:#F3F3F3;padding:14px 0px;margin-top:15px;}
.jianjie p{line-height:24px;width:468px;margin:0px auto;color:#666;}
.jianjie p strong{color:#444444;}
.th_f{margin-top:10px;}
.th_f p{color:#666;line-height:26px;}
.feng_list{margin-top:-5px;}
.feng_list a{border:1px #BEBEBE solid;float:left;height:18px;width:18px;margin-top:10px;margin-right:8px;overflow:hidden;}
.feng_list a img{vertical-align:top;margin-top:1px;margin-left:1px;}
.feng_list a:hover{border:1px #FFA800 solid;}
.down_glb{float:right;width:170px;}
.down_glb h2{font-size:22px;font-weight:normal;color:#666;line-height:22px;margin-top:48px;}
.down_glb h2 span{font-size:12px;}
.down_p{margin-top:15px;}
.down_p a{display:block;height:58px;width:170px;background:#92BF48;font-size:20px;color:#fff;line-height:58px;text-align:center;border-radius:5px;}
.down_p p{text-align:center;color:#666;line-height:14px;margin-top:12px;}
.down_p a:hover{text-decoration:none;background:#9FC75F;_color:#fff;}
.down_p1{margin-top:20px;}
.down_p1 a{background:#54B4E6;}
.down_p1 a:hover{background:#6FBEEA;_color:#fff;}
.up_time{height:28px;width:170px;background:#F1F1F1;margin-top:30px;border-radius:30px;}
.up_time p{line-height:28px;color:#666;text-align:center;}

.box_wrap{width:980px;margin-top:40px;}
.scroll_wrap{width:980px;height:195px;position:relative;overflow:hidden;}
.scroll_wrap ul{height:195px;width:2000px;position:absolute;z-index:50;top:0px;left:0px;overflow:hidden;}
.scroll_wrap ul li{height:195px;width:138px;float:left;margin-right:30px;display:inline;}
.scroll_wrap ul li a{display:block;height:195px;width:138px;position:relative;overflow:hidden;}
.scroll_wrap ul li a img{vertical-align:top;}
.scroll_wrap ul li a span{display:block;width:70px;color:#fff;font-size:20px;line-height:24px;padding-bottom:8px;padding-top:5px;text-align:center;position:absolute;z-index:50;top:75px;left:34px;background:#FFA800;opacity:0.8;filter:alpha(opacity=80);display:none;cursor:pointer;}
.scroll_wrap ul li a:hover{text-decoration:none;}
.scroll_wrap ul li a:hover span{display:block;}
.scroll_f{width:100%;height:8px;background:#E4E4E4;border-radius:10px;margin-top:0px!important;position:relative;}
.scroll_bar{height:8px;width:70px;position:absolute;z-index:40;top:0px;left:20px;}
.scroll_bar a{display:block;height:8px;width:70px;background:url("http://css.mafengwo.net/images/gonglve/scroll_bar_o.png") 0px 0px no-repeat;text-indent:-10000px;overflow:hidden;}
.gl_l{width:302px;float:left;margin-top:30px;padding-bottom:20px;}
.gl_l img{vertical-align:inherit;}
.gl_r{width:640px;float:right;margin-top:30px;}
.mdd_zj{width:300px;background:#F3F3F3;padding-bottom:22px;}
.mdd_zj h1{border-bottom:1px #E3E3E3 solid;font-size:14px;color:#666;line-height:16px;width:270px;padding:10px 0px;margin:0px auto;}
.mdd_m{margin-top:22px;}
.mdd_m h2{float:left;height:90px;width:140px;margin-left:15px;display:inline;overflow:hidden;}
.mdd_m dl{width:115px;float:left;margin-left:15px;display:inline;}
.mdd_m dl dt{font-size:22px;color:#666;line-height:24px;height:24px;width:115px;overflow:hidden;margin-top:8px;margin-bottom:15px;}
.mdd_m dl dd{line-height:14px;margin-top:6px;}
.mdd_m dl dd a{color:#FFA800;}
.just_down{margin-top:40px;}
.just_down h2{font-size:14px;font-weight:normal;color:#666;line-height:16px;}
.just_down ul{float:left;margin-top:10px;}
.just_down ul li{width:136px;height:20px;float:left;margin-right:8px;margin-top:10px;display:inline;overflow:hidden;}
.just_down ul li h3{float:left;border:1px #BEBEBE solid;height:18px;width:18px;}
.just_down ul li h3 a{height:16px;width:16px;display:block;overflow:hidden;margin-left:1px;margin-top:1px;}
.just_down ul li p{float:left;margin-left:4px;display:inline;line-height:21px;}
.just_down ul li p a{color:#FFA800;}
.just_down ul li span{float:left;color:#666;margin-left:4px;line-height:21px;}
.ff_menu{width:302px;margin-top:8px;overflow:hidden;}
.ff_menu a{border:1px #BEBEBE solid;float:left;height:18px;width:18px;margin-right:8px;margin-top:12px;overflow:hidden;}
.ff_menu a img{margin-left:1px;margin-top:1px;}
.ff_menu a:hover{border:1px #FFA800 solid;}
.guess_like{margin-top:-2px;}
.guess_like h2{float:left;font-size:14px;color:#666;line-height:16px;_line-height:20px;}
.guess_like a{float:right;color:#FFA800;line-height:14px;margin-top:2px;margin-right:5px;}
.gl_fw1{width:640px;border-bottom:1px #E3E3E3 solid;}
.gl_cw1{width:680px;}

.msg_wp{margin-top:40px;}
.msg_wp h1{font-size:14px;color:#666;line-height:16px;}
.msg_text{margin-top:20px;}
.msg_text textarea{border:1px #D2D2D2 solid;height:62px;width:542px;padding-left:10px;padding-top:8px;float:left;resize:none;overflow-x:hidden;overflow-y:hidden;font-size:12px;color:#878787;font-family:"Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;_font-family:Tahoma,Arial,Helvetica,STHeiti;border-radius:5px;}
.msg_text a{float:right;height:72px;width:70px;background:#C6C6C6;font-size:20px;color:#fff;line-height:70px;text-align:center;border-radius:5px;}
.msg_text a:hover{text-decoration:none;}
.msg_text input.check_in{float:left;margin-top:10px;*margin-top:5px;margin-top:5px\0;}
.msg_text span{float:left;color:#666;line-height:14px;margin-top:6px;*margin-top:3px;margin-top:3px\0;}
.msg_text input.pages_in{width:40px;text-align:center;height:15px;color:#666;}


.msg_wp ul{margin-top:15px;}
.msg_wp ul li{border-bottom:1px #DBDBDB solid;width:640px;float:left;padding-bottom:10px;}
.msg_wp ul li h3{float:left;height:48px;width:48px;margin-top:10px;overflow:hidden;}
.e_con{width:575px;float:left;margin-left:15px;display:inline;position:relative;}
.e_con h4{float:left;font-weight:normal;line-height:14px;margin-top:15px;}
.e_con h4 a{color:#FEA901;}
.e_con span{float:left;color:#CA2426;margin-left:6px;line-height:14px;margin-top:15px;}
.e_con em{float:left;font-style:normal;color:#9A9A9A;margin-left:20px;line-height:14px;margin-top:15px;}
.e_con p{width:455px;float:left;color:#666;line-height:20px;margin-top:6px;}
.e_con p a{margin-left:10px;}
.opatation{width:102px;position:absolute;z-index:20;bottom:2px;right:0px;}
.opatation a{float:right;line-height:14px;color:#FEA901;margin-left:10px;}

.layout{height:100%;width:100%;position:absolute;z-index:99;top:0px;left:0px;background:#000;opacity:0.6;filter:alpha(opacity=60);}
.pop_w{position:absolute;z-index:1000;top:0px;left:0px;width:100%;height:1000px;overflow:auto;}

.popdiv{width:609px;position:relative;left:50%;margin-left:-280px;}
.popdiv img{vertical-align:top;margin-top:20px;}
a.fangda,a.suoxiao{position:absolute;z-index:100;top:20px;left:0px;display:block;height:58px;width:58px;text-indent:-10000px;overflow:hidden;}
a.fangda{background:url("http://css.mafengwo.net/images/gonglve/pview-ctrl-btn.png") 0px -120px no-repeat;_background-position:-60px -120px;}
a.suoxiao{background:url("http://css.mafengwo.net/images/gonglve/pview-ctrl-btn.png") 0px -60px no-repeat;_background-position:-60px -60px;}
.popdiv span,#mfw_op_close_btn{display:block;height:58px;width:58px;position:absolute;z-index:200;top:20px;right:0;background:url("http://css.mafengwo.net/images/gonglve/pview-ctrl-btn.png") 0px 0px no-repeat;_background-position:0 0;cursor:pointer;text-indent:-10000px;overflow:hidden;}
.popdiv a.fangda,.popdiv a.suoxiao,.popdiv span,#mfw_op_close_btn{_filter:alpha(opacity=90);}

.show_more{border-bottom:1px #E4E4E4 dotted;height:35px;text-align:center;line-height:35px;}
.show_more a{color:#FF8903;}

.no_gl{border:1px #FFA800 solid;height:40px;width:258px;position:absolute;z-index:60;top:40px;left:-2px;background:#fff;line-height:40px;text-align:center;}
.no_gl strong{font-weight:normal;color:#888;}

.question{margin-top:20px;padding-bottom:12px;background:#F6F6F6;}
.question span{float:left;font-size:14px;color:#ff8a00;line-height:14px;margin-left:20px;margin-top:12px;}
.question_link{height:25px;width:450px;float:left;margin-top:3px;margin-left:30px;display:inline;overflow:hidden;}
.question_link a{float:left;color:#666666;line-height:14px;white-space:nowrap;margin:10px 20px 5px 0;}
.question_link a:hover{color:#FFA800;}
.question .question_link{width:520px;}
.question .more_toggle{display:none;}
.more_toggle{float:right;width:42px;height:16px;margin-right:15px;margin-top:12px;display:inline;}
.more_toggle a{display:block;width:42px;height:16px;background:url("http://css.mafengwo.net/images/gonglve/ms.png") 0px 0px no-repeat;text-indent:-10000px;overflow:hidden;}
.more_toggle a:hover{background:url("http://css.mafengwo.net/images/gonglve/ms.png") -43px 0px no-repeat;}
.more_toggle a.sp_toggle{background:url("http://css.mafengwo.net/images/gonglve/ms.png") 0px -17px no-repeat;}
.more_toggle a.sp_toggle:hover{background:url("http://css.mafengwo.net/images/gonglve/ms.png") -43px -17px no-repeat;}

/* FloatBar */
.float-bar{ width:100%;background:#fff;background:rgba(255,255,255,0.95);  box-shadow:0 0 3px rgba(0, 0, 0, 0.3); *border-bottom:1px solid #f5f5f5; border-bottom:1px solid #f5f5f5\0; *zoom:1; position:fixed; top:0;left:0; z-index:99;}
*html .float-bar{position: absolute;top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(0 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');}
.float-bar .content{ width:980px; height:50px; line-height:50px; margin:0 auto;position:relative; text-align:center; font-size:14px; color:#666;}
.float-bar .content strong{ font-size:16px; color:#ff8a00;}
.float-bar .content a.btn{ background-color:#FFA800; font-size:14px; color:#fff; line-height:28px; display:inline-block; padding:0 10px; margin:0 10px; border-radius:5px;}
.float-bar .content a.btn:hover{background-color:#FF8A00; text-decoration:none;}
.float-bar .content a.btn2{ background-color:#FFF4DF; font-size:14px; color:#FF8A00; line-height:28px; display:inline-block; padding:0 10px; margin:0 10px; border-radius:5px;}
.float-bar .content a.btn2:hover{background-color:#FFF4DF; text-decoration:none;}
.float-bar .content i{ width:16px; height:16px; background:url(http://css.mafengwo.net/images/login/connect_ico2.gif) no-repeat; display:inline-block; vertical-align:middle; margin-right:5px;}
.float-bar .content i.qq{ background-position:0 -416px;}
.float-bar .content i.weibo{ background-position:0 0px;}

.qr-code{position:fixed;_position:absolute;left:50%;top:50%;z-index:51;margin:0 0 0 498px;width:120px;height:239px;background:url(http://css.mafengwo.net/images/gonglve/qr_code3.gif) no-repeat;overflow:hidden;}
@media (max-width:1240px){
    .qr-code{display:none;}
}

/* 攻略下载 */
.popup_ask {width: 686px;margin: -200px 0 0 -343px;}
.popup_ask dt {width: 646px;padding: 30px 0;margin: 0 auto;text-align: center;font-size: 16px;color: #3f200f;border-bottom: 1px solid #ddd;}
.popup_ask dd {text-align: left;color: #666;}
.popup_ask .pa_earth {height: 60px;padding: 30px;background: url(http://css.mafengwo.net/images/gonglve/a_earth.gif) no-repeat 500px bottom;}
.pa_try {font-size: 20px;margin-bottom: 6px;}

.popup_ask dd a{ color:#666; }
.popup_ask dd a:hover{ text-decoration:none;}
.popup_ask dd ul{  border-top:dashed 1px #dcdcdc;}
.popup_ask dd ul li{ border-bottom:dashed 1px #dcdcdc; overflow:hidden; *zoom:1;}
.popup_ask dd ul li.on a{ background-color:#f6f6f6; }
.popup_ask dd ul li a{ display:block; padding:13px 0; overflow:hidden; *zoom:1; }

.popup_ask dd .i_tj_tit{ border-left:solid 2px #ffa800; padding-left:7px; line-height:14px; height:14px;margin-left: 30px; font-size: 14px;color: #666;}
.popup_ask dd .i_tj_js{ position:relative;display:none; margin:0 10px; }
.popup_ask dd .i_tj_js dt{ position:absolute; top:0; left:0; width:42px; height:42px;padding: 0;margin: 0; background-color:#ffdfa2; text-align:center; border-radius:5px; font-size:0; }
.popup_ask dd .i_tj_js dt strong{ color:#ff7200; display:block; font-size:14px; margin:6px 0 4px 0; line-height:14px; }
.popup_ask dd .i_tj_js dt span{ color:#b1894a; font-size:12px; line-height:12px; }
.popup_ask dd .i_tj_js dd{ padding-left:52px; }
.popup_ask dd .i_tj_js dd p{ color:#ff8a00; font-size:16px; line-height:20px;}
.popup_ask dd .i_tj_js dd .i_tj_con{ font-size:12px;line-height:12px; margin-top:7px; }

.popup-box .pop-btn {padding: 30px 0;}
.popup_ask .pop-btn .btn-sub {height: 35px;line-height: 35px;font-size: 18px;}

/* 更新时间 2014-3-19 by old bin */
.update_time {margin-top: 5px;text-align: center;font-size: 10px;}

/* 将原页面模板上的css迁移只css文件中 2014-10-30*/

/* 攻略预览CSS */
#mfw_op_box {
    position: absolute;
    width: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    z-index: 1001;
    background-color: rgba(150, 150, 150, 0.6);
}

.mfw_op_ie_alpha {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99969696, endColorstr=#99969696);
    zoom: 1;
}

.mfw_op_ie6_bk {
    background: #BCBCBC;
    zoom: 1;
}

#mfw_op_cont_box {
    width: 1040px;
    margin-bottom: 20px;
    position: relative;
}

#mfw_op_cont {
    padding: 0;
    height: 1457px;
}

.suoxiao {
    background: url("http:/http://css.mafengwo.net/images.mafengwo.nethttp://css.mafengwo.net/images/gonglve/smaller.png") no-repeat scroll 0 0;
    width: 40px;
    height: 40px;
    text-indent: -10000px;
}

#mfw_op_close_btn {
    left: 50%;
    margin-left: 433px;
    padding: 0;
    position: fixed;
    text-align: center;
    text-indent: -9999em;
    top: 6px;
}

.slideLayer .slideBox {
    padding: 6px 21px;
}

/* 纠错CSS -start */

.slideLayer .toolBar {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    height: 63px;
    left: 50%;
    margin-bottom: 0;
    margin-left: -110px;
    position: fixed;
    width: 221px;
}

.toolBar {
    background-color: #F5F5F5;
    border-radius: 3px 3px 3px 3px;
    height: 31px;
    margin-bottom: 25px;
}

.slideLayer .toolBar_bg {
    background-color: #000000;
    border-radius: 5px 5px 5px 5px;
    height: 63px;
    opacity: 0.8;
    width: 221px;
}

.slideLayer .toolBar_opt {
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 200px;
}

.slideLayer .toolBar span {
    float: left;
    height: 23px;
    overflow: hidden;
    padding: 15px 55px;
}

.slideLayer .comment_btn, .slideLayer .share_btn, .slideLayer .corr_btn {
    background: url("http:/http://css.mafengwo.net/images.mafengwo.nethttp://css.mafengwo.net/images/mdd/book/book_sprites3.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 23px;
    line-height: 200px;
    overflow: hidden;
    width: 50px;
}

.slideLayer .corr_btn {
    background-position: 0 -248px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 23px;
    text-indent: 30px;
    width: 90px;
}

.pop_bug {
    padding: 10px;
    width: 490px;
}

.pop_bug .Bcon .textarea {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #996600;
    font-size: 12px;
    height: 168px;
    line-height: 20px;
    overflow: auto;
    padding: 2px;
    width: 460px;
}

.pop_bug .Btit {
    color: #666666;
    font-size: 14px;
    height: 25px;
}

.pop_bug .Bbtn {
    color: #FF0000;
    font-size: 14px;
    height: 25px;
    padding-top: 8px;
}

.pop_bug .Bbtn input {
    background: url("http:/http://css.mafengwo.net/images.mafengwo.nethttp://css.mafengwo.net/images/mdd/btn_bg.jpg") repeat-x scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    font-size: 12px;
    height: 22px;
    margin-right: 8px;
    text-align: center;
    width: 50px;
}
.wall_caution{
    padding: 10px 0px;
    text-align: center;
    background-color: #FFF8DC;
    color: #FF4500;
}
/* 纠错CSS -end */

/* 攻略改版 zhou 2016.5.25 */
.gonglve_wrap{margin-top:15px;padding-bottom:20px;}
.sidebar{float:left;width:160px;}
.cont-main{float:right;width:790px;margin-bottom:20px;}
.side-hd{height:50px;font-size:16px;color:#333;border-bottom:1px solid #eee;line-height:48px;}
.nav-drop{margin-bottom:10px;height:45px;line-height:25px;color:#333;border-bottom:1px solid #eee;}
.drop-item{float:left;width:40px;font-size:14px;}
.drop-item+.drop-item{margin-left:20px;}
.drop-item+.drop-item:before{content:'';position:absolute;margin:16px 0 0 -10px;width:1px;height:13px;background-color:#eee;}
.drop-item .trigger{padding:10px 0;height:22px;cursor:pointer;}
.drop-item .trigger i{float:right;margin-top:10px;border-top:4px solid #999;border-left:4px dashed transparent;border-right:4px dashed transparent;font-size:0;overflow:hidden;}
.drop-pop{position:absolute;margin-top:10px;width:410px;padding:20px;background-color:#fff;border:1px solid #e5e5e5;line-height:30px;display:none;}
.drop-pop .inner{overflow:hidden;}
.drop-pop ul{margin-left:-15px;}
.drop-pop li{float:left;margin:0 15px;}
.drop-pop li:before{content:'';float:left;margin:8px 0 0 -15px;width:1px;height:13px;background-color:#eee;}
.drop-pop a{color:#333;}
.drop-pop a:hover{color:#ff9d00;}
.drop-open .trigger{color:#ff9d00;border-bottom:3px solid #ff9d00;}
.drop-open .trigger i{border-top-color:#ff9d00;}
.drop-open .drop-pop{display:block;z-index: 1;}
.rank li{padding:15px 0;}
.rank li+li{border-top:1px solid #f7f7f7;line-height:24px;}
.rank .gl_list{float:none;}
.rank .gl_list .time{margin:5px 0;text-align:center;}
.rank a{color:#333;font-size:14px;}
.rank a:hover{color:#ff9d00;}
.rank .num{float:left;margin-right:10px;font-size:18px;color:#ff9d00;}
.cont-main .hd{height:50px;border-bottom:1px solid #eee;line-height:48px;}
.cont-main .hd h3{float:left;font-weight:normal;font-size:20px;color:#333;}
.mui-search{float:right;position:relative;}
.mui-search-inp{width:150px;padding:0 35px 0 15px;border:1px solid #ddd;height:34px;border-radius:4px;line-height:34px;font-size:14px;vertical-align:top;}
.mui-search-icon{position:absolute;right:11px;top:10px;width:16px;height:16px;background:url(http://css.mafengwo.net/images/gonglve/new-gl-icon6.png) no-repeat -20px 0;overflow:hidden;}
.mui-search-inp:focus{border-color:#ff9d00;box-shadow:0 0 3px rgba(255,157,0,.6);}
.mui-search-inp:focus+.mui-search-icon{background-position:-40px 0;}

.cont-main .hr{margin-top:20px;height:1px;background-color:#e5e5e5;overflow:hidden;}
.feed-item{padding:20px 0;font-size:14px;line-height: 24px;}
.feed-item a{display:block;}
.feed-item:hover{background-color:#f8f8f8;padding:21px 15px 20px;margin:-1px -15px 0;}
.feed-item:hover .title{color:#ff9d00;}
.cont-main .type{float:left;display:inline-block;line-height:20px;font-size:12px;color:#666;}
.cont-main .type strong{font-weight:normal;color:#ff9d00;}
.cont-main .type i{float:left;margin-right:10px;width:20px;height:20px;background:url(http://css.mafengwo.net/images/gonglve/new-gl-icon6.png) no-repeat 0 0;overflow:hidden;}
.cont-main .type .icon-sales{background-position:0 -20px;}
.cont-main .type .icon-line{background-position:0 -40px;}
.cont-main .type .icon-weixin{background-position:0 -60px;}
.cont-main .type .icon-notes{background-position:0 -80px;}
.cont-main .type .icon-gonglve{background-position:0 -80px;}
.cont-main .type .icon-activity{background-position:0 -100px;}

.feed-item .stat{float:right;padding:0 15px;line-height:30px;border:1px solid #ff9d00;border-radius:15px;font-size:14px;background-color:#fff;color:#666;}
.feed-item a:hover{text-decoration:none;}
.feed-item .stat .num{color:#ff9d00;}
.feed-item .stat em{display:inline-block;margin-right:5px;line-height:20px;background-color:#ff9d00;color:#fff;padding:0 6px;border-radius:2px;font-style:normal;}
.feed-item .icon-hand,.feed-item .icon-cart{display:inline-block;margin-left:10px;width:15px;height:15px;background:url(http://css.mafengwo.net/images/gonglve/new-gl-icon6.png) no-repeat -40px -40px;overflow:hidden;vertical-align:-2px;*vertical-align:middle;}
.feed-item .icon-cart{width:16px;background-position:-20px -116px;}
.feed-item .title{margin-bottom:15px;font-size:20px;color:#333;}
.feed-item .tag-rec{display:inline-block;margin-left:5px;padding:0 10px;line-height:20px;background-color:#ff9d00;color:#fff;border-radius:2px 2px 2px 0;font-size:12px;position:relative;vertical-align:2px;*vertical-align:middle;}
.feed-item .tag-rec:before{content:'';position:absolute;left:-6px;bottom:0;border-bottom:6px solid #ff9d00;border-left:6px solid #fff;border-top:6px dashed transparent;overflow:hidden;}
.feed-item .art dt{float:left;width:220px;display:inline;margin-right:20px;}
.feed-item .art dd{overflow:hidden;}
.feed-item .art .info{height:102px;padding-top:10px;margin-bottom:16px;color:#666;}
.feed-item .art-tag{float:left;margin-right:10px;padding:0 15px;line-height:20px;font-size:12px;border:1px solid #e5e5e5;background-color:#f6f6f6;border-radius:10px;color:#666;}
.feed-item .ext-r{float:right;color:#999;line-height:22px;font-size:12px;}
.feed-item .txt{margin-bottom:15px;color:#666;}
.feed-item .txt li:before{content:'';float:left;width:2px;height:10px;background-color:#ff9d00;margin:6px 10px 0 0;}
.feed-item .txt a{display:block;color:#666;}
.feed-item .imgs li{float:left;width:220px;display:inline;margin-right:15px;}
.feed-item .imgs .ext-r{float:right;margin:0;width:auto;line-height:130px;}
.feed-item .imgs .ext-r-lh{width:100%;margin-top:10px;line-height:20px;text-align:right;}
.feed-item .author{display:inline-block;margin-right:10px;font-size:12px;color:#ff9d00;}
.feed-item .author img{margin-right:5px;width:16px;height:16px;border-radius:50%;overflow:hidden;vertical-align:middle;}
.feed-item .txt-line a{display:inline;color:#333;}
.feed-item .txt-line .arrow{margin:0 10px;display:inline-block;width:14px;height:10px;background: url(http://css.mafengwo.net/images/gonglve/new-gl-icon6.png) no-repeat -40px -20px;overflow: hidden;line-height: 100px;*vertical-align: middle;}

.hr + a,._j_page_loader{margin-top:10px;}
@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){
    .cont-main .type i,.feed-item .icon-hand,.gonglve-nav .nav-title .gn-arrow,.input_like span,.down_cout span,.feed-item .icon-cart{background-image:url(http://css.mafengwo.net/images/gonglve/new-gl-icon6@2x.png);background-size:60px auto;}
}